.dock {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
        padding: 0 0.5rem 0.25rem 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(13px);
        border: 1px solid rgba(255, 255, 255, 0.20);
        border-radius: 1rem;
        box-sizing: border-box;

        .dockItem {
            line-height: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            margin: 0.6rem 0.4rem;
            position: relative;

            & .active::after {
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.5);
                content: "";
                bottom: -0.75rem;
                left: 50%;

            }

            &.background {
                background-color: white;
                padding: .5rem;

                img {
                    height: 2.35rem;
                }
            }

            &:hover {
                transition: ease transform 0.6s, ease margin 0.6s;
                transform: translateY(-1rem) scale(1.2);
                margin: 0 0.6rem;
            }

            &:hover::after,
            &:focus-within::after {
                background-color: rgba(0, 0, 0, 0.5);
                color: rgba(255, 255, 255, 0.9);
                border-radius: 4px;
                bottom: 120%;
                content: attr(data-tooltip);
                display: block;
                text-align: center;
                padding: 1em;
                position: absolute;
                z-index: 1;
            }
        }

        img {
            height: 3rem;
        }

        a:active {
            filter: brightness(50%);
        }
    }
}