nav.menu {
    position: absolute;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2rem);
    padding: 0.25rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
    }

    div>* {
        margin: 0 0.5rem;
        padding: 0.5rem;
        color: white;
        text-decoration: none;
        border-radius: .2rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}