.windowControls {
    display: flex;
    justify-content: flex-start;
    border: 1px solid pink;

    button {
        width: 0.8rem;
        height: 0.8rem;
        margin: auto 0.2rem;
        border-radius: 50%;
        font-size: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0.8rem;
        border: none;
        cursor: pointer;
        font-size: 0.6rem;
        color: rgba(0, 0, 0, 0.6);
    }

    button.close {
        background-color: rgb(240, 64, 65);
        background-color: rgb(240, 64, 65);

        &:hover {
            background-image: url("/button-close.png");
            background-size: 0.8rem 0.8rem;
        }
    }

    button.minimize {
        background-color: rgb(253, 180, 37);

        &:hover {
            background-image: url("/button-minus.png");
            background-size: 0.8rem 0.8rem;
        }
    }

    button.maximize {
        background-color: rgb(42, 201, 51);

        &:hover {
            background-image: url("/button-fullscreen.png");
            background-size: 0.9rem 0.9rem;
            background-position: center;
        }

        &.fullscreen {}
    }
}